.renderbar {
    //display: flex;
    //justify-content: space-between;
    //align-items: center;
    //padding: 0 20px;
    width: 100%;
    position: absolute;
    height: 10px;
    bottom: 0;
    // background-color: #249118;
    background-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;

    display: none;
    font-size: 10px;
    color: white;
    justify-content: center; /* Zentriert den Text horizontal */
    align-items: center; /* Zentriert den Text vertikal */
    text-align: center; /* Zentriert den Text innerhalb des flex-Elements */
}

.renderbar_download {
    display: flex;
    justify-content: center; /* Zentriert den Inhalt horizontal */
    align-items: center; /* Zentriert den Inhalt vertikal */
    width: 0%;
    position: absolute;
    height: 10px;
    background-color: #249118;
    left: 0; /* Positioniert das Element am linken Rand */
    right: 0; /* Positioniert das Element am rechten Rand */
    margin-right: auto; /* Zentriert das Element horizontal */
}

.renderbar_processing {
    display: flex;
    justify-content: center; /* Zentriert den Inhalt horizontal */
    align-items: center; /* Zentriert den Inhalt vertikal */
    width: 0%;
    position: absolute;
    height: 10px;
    background-color: #241891;
    left: 0; /* Positioniert das Element am linken Rand */
    right: 0; /* Positioniert das Element am rechten Rand */
    margin-right: auto; /* Zentriert das Element horizontal */
}

.renderbar_text {
    z-index: 9999;
}