instances/WebServer/build/
instances/WebServer/node_modules/
instances/WebServer/package-lock.json
instances/WebServer/public/data/
instances/WebServer/public/previews/

instances/ComputeNode/data/
instances/ComputeNode/previews/
instances/ComputeNode/files/data/
instances/ComputeNode/files/previews/
instances/ComputeNode/Models/

ressources/security/ca_bundle.crt
ressources/security/certificate.crt
ressources/security/private.key

ressources/env/

__pycache__/
__MACOSX/
