instances/WebServer/build/
instances/WebServer/node_modules/
instances/WebServer/package-lock.json
instances/WebServer/public/data/
instances/WebServer/public/previews/

instances/DatabaseServer/data/
instances/DatabaseServer/previews/
instances/DatabaseServer/files/data/
instances/DatabaseServer/files/previews/
instances/DatabaseServer/Models/

instances/server_1/ColorTransferLab

ressources/security/ca_bundle.crt
ressources/security/certificate.crt
ressources/security/private.key

ressources/env/

__pycache__/
__MACOSX/
